.footer {
    background-color: #f4f4f4; 
   
    text-align: center;
    padding: 20px;
    font-size: 1rem;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .footer p {
    margin: 0;
    color: #487aa1;
  }
  